.main-container{
    height: 100vh;
    width: 100%;
}

.wrapper-container {
    display: flex;
    width: 100%;
    margin-bottom: 0.0;
    height: 100%;
    background-color: transparent;
}
.left-container {
    margin-left: 5%;
    margin-top: 5%;
    height: 100%;
    
}

.right-container {
    margin-left: 30px;
    padding-top: 10%;
    height: 100%;
}

.main-text {
    color: white;
    font-size: 50px;
    margin: 0;
}

.supplementary-text {
    color: whitesmoke;

}

.register-button {
    border: 1px solid hsl(300, 69%, 71%);
    border-radius: 20px;
    background-color: hsl(300, 69%, 71%);
    color: white;
    height: 30px;
    width: 150px;
}